.section-content {
  .contact-box {
    margin-bottom: 30px;
    h3 {
      text-align: left;
      color: #000;
      margin: 10px 0;
      font-size: 14px;
    }
    p {
      margin-top: 10px;
    }
    .contact-icons {
      font-size: 30px;
    }
  }
  .main-form {
    button {
      text-transform: uppercase;
      font-family: "RalewayBold";
      border: none;
      color: #fff;
      line-height: 40px;
      padding: 0 25px;
      font-size: 14px;
      letter-spacing: 2px;
      outline: none;
    }
  }
  .form-group {
    display: block;
    margin-bottom: 25px;
    input, textarea {
      display: block;
      width: 100%;
      border: 1px solid #ccc;
      margin-top: 5px;
      line-height: 40px;
      text-indent: 12px;
      font-size: 12px;
      letter-spacing: 2px;
      outline: none;
      background-color: transparent;
    }
    textarea {
      resize: none;
    }
    .text-danger {
      li {
        margin-top: 15px;
      }
    }
  }
}