header {
  transition: 1.5s;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .logo-container {
    background-image: url(../img/300.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 0;
  }

  .toggle-mnu {
    width: 60px;
    height: 60px;
    background-color: #000;
    position: fixed;
    z-index: 200;
    border: none;
    right: 20px;
    top: 20px;
    outline: none;
    span {
      display: block;
    }
  }

  $w: 28px;
  $h: 3px;

  .sandwich {
    width: $w;
    height: $w;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
  }
  .sw-topper {
    position: relative;
    top: 0;
    width: $w;
    height: $h;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    display: block;
  }
  .sw-bottom {
    position: relative;
    width: $w;
    height: $h;
    top: $h * 2.2;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }
    
  .sw-footer {
    position: relative;
    width: $w;
    height: $h;
    top: $h * 4.5;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }
  .sandwich.active {
    .sw-topper {
      top: 9px;
      transform: rotate(-45deg);
    }
    .sw-bottom {
      top: 6px;
      transform: rotate(45deg);
    }
    .sw-footer {
      opacity: 0;
      top: 0;
      transform: rotate(180deg);
    }
  }
  
  .title-opacity {
    opacity: .3;
    transition: .7s;
  }
  .menu-container {
    background-color: #000;
    position: fixed;
    display: flex;
    justify-content: center;
    right: 20px;
    top: 45px;
    width: 60px;
    height: 60px;
    z-index: 200;
    box-sizing: border-box;
    .menu {
      width: 32px;
      height: 26px;
      margin: auto 0;
      position: relative;
      transition: .3s all;
      -moz-transition: .3s all;
      cursor: pointer;
    }
    span {
      position: absolute;
      background-color: #fff;
      height: 5px;
      width: 100%;
      transition: .3s all;
      -moz-transition: .3s all;
      &.second {
        top: 7.5px;
      }
      &.third {
        top: 15.5px;
      }
    }
  }
  .top-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 150;
    top: 0;
    right: 0;
    ul, li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    ul {
      margin-top: 120px;
      text-align: center;
    }
    li {
      &:nth-child(1) a {
        animation-duration: .5s;
      }
      &:nth-child(2) a {
        animation-duration: 1s;
      }
      &:nth-child(3) a {
        animation-duration: 1.5s;
      }
      &:nth-child(4) a {
        animation-duration: 2s;
      }
    }
    a {
      color: #fff;
      display: block;
      // padding: 25px 0;
      text-decoration: none;
      text-transform: uppercase;
      height: 60px;
      font-size: 12px;
      letter-spacing: 5px;
      position: relative;
      &:hover {
        span {
          background-color: rgba(255,255,255,.05);
          display: block;
          position: relative;
          top: -36px;
          left: 0;
          height: 100%;
          transition: 0.5s ease;
        }
      }
    }
  }
  .top-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .top-description {
      display: table-row;
      .top-center {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        .top-title {
          display: inline-block;
          h1 {
            padding: 10px 35px;
            color: #fff;
            border: 8px solid #fff;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 20px;
            font-size: 3em;
            background-color:rgba(0,0,0,.05);
            animation-delay: 1s;
          }
          p {
            padding: 30px;
            color: mix(#fff, #000, 30%);
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 5px;
            animation-delay: 1.5s;
          }
        }
      }
    }
  }
  .style-nav {
    width: 39px;
    height: auto;
    position: fixed;
    right: 0;
    top: 45vh;
    z-index: 999;
    overflow: hidden;
    li {
      background-repeat: no-repeat;
      text-align: right;
      padding: 5px;
      font: 31px 'Gothic';
      position: relative;
      height: 40px;
      width: 60px;
      cursor: pointer;
      transition: .5s;
      right: -20px;
      border-radius: 15px 0 0 15px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      &:hover {
        right: 0;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      }
    }
    .krayola {
      background-color: #1974D2;
    }
    .sky {
      background-color: #2271B3;
      bottom: 20px;
    }
    .kobalt {
      background-color: #0047AB;
      bottom: 40px;
    }
    .deep {
      background-color: #002f55;
      bottom: 60px;
    }
  }
}

//.bigimg {
//  height: 100vh;
//  width: 100vw;
//  overflow: hidden;
//  .imginner {
//    width: 100%;
//    height: 100%;
//    background-image: url(../img/bg.jpg);
//    background-size: cover;
//    background-position: top center;
//    transform-origin: 50% 80%;
//    animation: imageZoom linear 50s;
//    animation-iteration-count: infinite;
//    -webkit-animation: imageZoom linear 50s;
//    -webkit-animation-iteration-count: infinite;
//  }
//}
//@keyframes imageZoom {
//  0% { transform: scale(1); }
//  50% { transform: scale(1.24); }
//  100% { transform: scale(1);}
//}
//
//@-moz-keyframes imageZoom {
//  0% { -moz-transform: scale(1);}
//  50% { -moz-transform: scale(1.24); }
//  100% { -moz-transform: scale(1); }
//}
//
//@-webkit-keyframes imageZoom {
//  0% { -webkit-transform: scale(1); }
//  50% {-webkit-transform: scale(1.24); }
//  100% { -webkit-transform: scale(1); }
//}
//
//@-ms-keyframes imageZoom {
//  0% { -ms-transform: scale(1); }
//  50% { -ms-transform: scale(1.24); }
//  100% { -ms-transform: scale(1); }
//}