$primary-color: #427388;
$primary-text-color: #444;
$primary-color-light: #97d0e1;
$primary-color-dark: #427388;


$secondary-color: #ffffff;
$success-color: green;
$error-color: red;

//#025F97;
$home-work: #3396DB;
$control-work: #71CC92;
$class-work: #A194FF;
$lab-work: #E75A47;
$absent: #FCC2BE;
$late: #FFE8A0;