$color: #1974D2;
//krayola blue
$text_color: #888;
$main_color: #222;
$bg_light: #FAFAFA;

body {
    color: $main_color;
}
	

a {
    color: $color;
}

p,
body .footer,
.about li {
    color: $text_color;
}
	
.color-element {
	color: $color;
}
.color-bg {
	background-color: $color;
}
.color-border {
	border-color: $color;
}
.bg-light {
	background-color: $bg_light;
}
.bg-dark {
	background-color: $main_color;
	color: #fff;
	.description::after {
		background-color: #fff;
    }
	a {
		color: #fff;
    }
}
.top-menu {
	a:hover {
		color: $color;
    }

}

.top-title {
	p {
		color: $bg_light
    }
}

.description {
	&::after {
		background-color: $main_color;
    }
}

section {
	h3 {
		color: $text_color;
    }
}

.about {
	p:nth-child(even) {
		color: $color;
    }
}

.resume-container {
	h3 {
		color: $main_color;
		font-size: 16px;
		font-weight: 600;
    }
}

.resume-item {
	.year {
		background-color: $color;
		color: #fff;
    }
}

.portfolio {
  li {
	color: $text_color;
	padding: 3px;
	&:after {
	  display: block;
	  content: "";
		left: 0;
		bottom: -2px;
	  height: 2px;
	  width: 0%;
	  background-color: $color;
	  transition: width .25s ease-in-out;
	  position: absolute;
	}
	&:hover:after {
	  width: 100%;
	}
  }
  li.active {
	color: #fff;
	border-bottom: 2px solid $color;
  }
}

.portfolio {
  .portfolio-item {
	.portfolio-item-container {
	  .popup-content {
		transition: .3s;
		&:hover {
		  border-color: $color;
		  color: $color;
		  background-color: rgba(255, 255, 255, .15);
		}
	  }
	}
  }
}

.footer a {
	color: $color;
}

.contacts-icon {
	color: $color;
}

.text-danger {
	color: $color;
}
.contact-box {
	.contact-icons {
		color: $color;
	}
}

.section-content {
	form {
		.form-group {
			color: $text_color;
			input:focus,
			textarea:focus {
				border: 1px solid $color;
			}
		}
		button {
			background-color: $color;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			overflow: hidden;
			&:hover {
				box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
			}
		}
	}
}

